.zm-border{

    font-family: RalewayLight;
    list-style: none;

    display: inline-block;
    width: 100%;
    @include vendor-prefix(border-radius, 10px);

    /*margin-left: 30px;*/
  }


.zm-border:nth-child(even) {
  border: 2px solid $color-pink
}

.zm-border:nth-child(odd) {
  border: 2px solid $color-yellow;
}
.zm-accordion{
  margin-top:10px;
  .zm-accordion-container{

    max-height: 999px;
    @include vendor-prefix(transition, translateZ(0));
    @include vendor-prefix(transition, max-height 0.8s ease-out);
    &.zm-hidden{
      overflow: hidden;
      max-height: 0;
    }
  }
}
.zmo-header-xs{
  font-size:1.4em;
  img{
    width: 40px;
    height: 40px;
  }
}