@each $font-face in Raleway-Bold, Raleway-Light,Raleway-Regular,Raleway-SemiBold {
  @font-face {
    font-family: $font-face; font-style: normal; font-weight: normal;
    src: url('../fonts/#{$font-face}.otf');
  }
}
@import "includes/settings";

.content-navigation {
  border-color: $blue;
  color: darken($blue, 9%);
  font-family: RalewayBold;
}

.border {
  padding: $margin / 2;
  margin: $margin / 2;
  border-color: $blue;
}