<div ng-controller="AboutUsController" class="zm-imprint">
    <header class="zmo-header">{{'IMPRINT_TITLE'|translate}}</header>
    <div class="zm-feeditem zmo-container">
        <div class="row">
            <div class="col-md-12">{{'IMPRINT_HEADLINE'|translate}}</div>
        </div>
        <div class="row" style="height: 32px">
            <div class="col-md-4 justKile"><img ng-src="css/images/justKile_forBlackBG.png"></div>
            <div class="col-md-4 avatar">
                <img class="img-rounded" ng-src="css/images/avatar_thomas.png">

                <div>Thomas Kipar</div>
            </div>
            <div class="col-md-4 avatar">
                <img class="img-rounded" ng-src="css/images/avatar_ben.png">

                <div>Ben Lenser</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 avatar"></div>
            <div class="col-md-5 avatar">
                <img class="img-rounded" ng-src="css/images/avatar_felix.png">

                <div>Felix Sieckmann</div>
            </div>
            <div class="col-md-5 avatar">
                <img class="img-rounded" ng-src="css/images/avatar_winnii.png">

                <div>Daniel Wittekind</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="http://zapfmaster2000.org" target="_blank">
                    zapfmaster2000.org
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 social">
                <a href="http://facebook.com/Zapfmaster2000" target="_blank">
                    <img src="css/images/facebook.png">/Zapfmaster2000
                </a>
            </div>
            <div class="col-md-6 social">
                <a href="http://twitter.com/Zapfmaster2000" target="_blank">
                    <img src="css/images/twitter.png">@Zapfmaster2000
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="http://github.com/just-kile/Zapfmaster2000" target="_blank">
                    {{'IMPRINT_GITHUB'|translate}}<br/>
                github.com/just-kile/Zapfmaster2000</a>
            </div>
        </div>
    </div>
</div>