<div ng-controller="DistributionController" class="zm-distribution">
    <header class="zmo-header">{{'DISTRIBUTION_TITLE'|translate}}</header>
    <div class="zmo-container">
        <nvd3-line-chart
                class="zm-linechart"
                data="chartData"
                xAxisTickFormat="xAxisTickFormatFunction()"
                yAxisTickFormat="yAxisTickFormatFunction()"
                width="{{width}}"
                height="{{height}}"
                interpolate="basis-open"
                showXAxis="true"
                showYAxis="true"
                color="colorFunction()"
                noData="No Zapfing atm"
                forcey="[0]"
                forcex="[0]"
                >
            <svg ng-style="{width:width+'px',height:height+'px',marginLeft:'-100px',marginTop:'-40px'}"></svg>
        </nvd3-line-chart>
        <!-- see http://de.wikipedia.org/wiki/Moment_(Stochastik)#Zentrale_Momente-->
        <div class="row">
            <div class="col-md-9" > &#956; ({{'EXPECTATION'|translate}})</div>
            <div class="col-md-3 zm-bold">{{expectation|amount}}</div>
        </div>
        <div class="row">
            <div class="col-md-9"> &#963;&sup2; ({{'VARIANCE'|translate}})</div>
            <div class="col-md-3 zm-bold">{{variance|amount}}</div>
        </div>
        <div class="row">
            <div class="col-md-9"> &#963; ({{'DEGRESSION'|translate}})</div>
            <div class="col-md-3 zm-bold">{{degression|amount}}</div>
        </div>

    </div>
</div>