<div ng-controller="NewsstackController">
<!--    <div ng-class="{zmdim: news.length>0}" >
        <img src="css/images/zm_logo.png" style="margin-left: 5%"/>
    </div>


    -->
<!-- {"type":"DRAWING",
"image":"rest/image/user/1",
"date":"20140323-184633",
"userId":1,
"userName":"Ben",
"amount":0.12798644841493814,
"kegId":1,"brand":"Carlsberg",
"location":"Kölle"};
-->
<ul class="zm-newsstack-ul" style="position:relative">
    <li class="zm-newsstack animate-repeat" ng-repeat="n in news|maxcount:newsStackLength">
    <!-- DRAWING -->
        <div class="flip-container" ng-if="n.type=='DRAWING'">
            <div class="flipper">
                <div class="front zm-backgrnd">
                    <img ng-src="{{baseUrl+n.image|big}}" class="img-rounded"/>

                    <div class="brand" translate="NEWSSTACK_DRAWING"
                         translate-value-username="{{n.userName}}"
                         translate-value-amount="{{n.amount|amount}}">
                        </div>
                    <div class="location" translate="NEWSSTACK_DRAWING_INFO"
                            translate-value-date="{{n.date|clientdate}}"
                            translate-value-location="{{n.location}}"></div>


                    <!--<div class="amountNumbers">{{keg.currentAmount|amount:'full'}} / {{keg.size|amount:'full'}}</div>-->

                </div>


            </div>
        </div>
     <!-- ACHIEVEMENET -->
        <!--    {
        "type": "ACHIEVEMENT",
        "image": "images/achievements/nimmersatt.png",
        "date": 1355687887000,
        "achievementName": "Nimmersatt",
        "achievementId": 3,
        "userName": "user-3",
        "userId": 3
    }-->
        <div class="flip-container" ng-if="n.type=='ACHIEVEMENT'">
            <div class="flipper">
                <div class="front zm-backgrnd">
                    <img ng-src="{{baseUrl+n.image}}" class="img-rounded"/>

                    <div class="brand"
                         translate="NEWSSTACK_ACHIEVEMENT"
                         translate-value-username="{{n.userName}}"
                         translate-value-achievementname="{{n.achievementName}}">
                       </div>
                    <div class="location" translate="NEWSSTACK_ACHIEVEMENT_INFO"
                            translate-value-date="{{n.date|clientdate}}"></div>


                    <!--<div class="amountNumbers">{{keg.currentAmount|amount:'full'}} / {{keg.size|amount:'full'}}</div>-->

                </div>


            </div>
        </div>
        <!-- New Keg-->

        <!--{
         "boxId": 1
         "brand": "Oettinger"
         "date": "20130228-000000"
         "image": "images/others/newkeg.jpg"
         "kegId": 1
         "location": "local"
         "size": 50
         "type": "NEW_KEG"
    } -->
        <div class="flip-container" ng-if="n.type=='NEW_KEG'">
            <div class="flipper">
                <div class="front zm-backgrnd">
                    <img ng-src="{{baseUrl+n.image}}" class="img-rounded"/>

                    <div class="brand"
                         translate="NEWSSTACK_NEW_KEG"
                         translate-value-brand="{{n.brand}}"
                            ></div>

                    <div class="location"
                         translate="NEWSSTACK_NEW_KEG_INFO"
                         translate-value-date="{{n.date|clientdate}}"
                         translate-value-size="{{n.size}}"
                            ></div>


                    <!--<div class="amountNumbers">{{keg.currentAmount|amount:'full'}} / {{keg.size|amount:'full'}}</div>-->

                </div>


            </div>
        </div>
        <!-- New User-->
        <!-- date: "20140324-201423"
image: "images/others/newuser.jpg"
type: "NEW_USER"
userId: 3
userName: "Karl"-->
        <div class="flip-container" ng-if="n.type=='NEW_USER'">
            <div class="flipper">
                <div class="front zm-backgrnd">
                    <img ng-src="{{baseUrl+n.image}}" class="img-rounded"/>

                    <div class="brand"
                         translate="NEWSSTACK_NEW_USER"
                         translate-value-username="{{n.userName}}"></div>
                    <div class="location"  translate="NEWSSTACK_NEW_USER_INFO"
                         translate-value-date="{{n.date|clientdate}}"></div>


                    <!--<div class="amountNumbers">{{keg.currentAmount|amount:'full'}} / {{keg.size|amount:'full'}}</div>-->

                </div>


            </div>
        </div>
        <!-- Challenge Started -->
        <!-- {
            "challengeType": "1v1",
            "challengeDuration": "30",
            "startDate": "1346459019",
            "challengeId": "9",
            "challengeImage": "images/others/1v1.jpg",
            "type": "CHALLENGE_STARTED",
            "team1": [
                {
                    "userId": "6",
                    "userName": "Thomas",
                    "userImage": "images/avatars/43981527934208.jpg",
                    "amount": 0.41851239669421,
                    "won": "0"
                }
            ],
            "team2": [
                {
                    "userId": "2",
                    "userName": "Winni",
                    "userImage": "images/avatars/43981527934208.jpg",
                    "amount": 0.32851239669421,
                    "won": "0"
                }
            ]
        } -->
        <div class="flip-container" ng-if="n.type=='CHALLENGE_STARTED'">
            <div class="flipper">
                <div class="front zm-backgrnd">
                    <img ng-src="{{baseUrl+n.image}}" class="img-rounded"/>

                    <div class="brand"
                         translate="NEWSSTACK_CHALLENGE_STARTED"
                         translate-value-username1="{{n.team1[0].userName}}"
                         translate-value-username2="{{n.team2[0].userName}}"
                         translate-value-duration="{{n.challengeDuration}}"
                            >
                        </div>

                    <div class="location"
                         translate="NEWSSTACK_CHALLENGE_STARTED_INFO"
                         translate-value-date="{{n.startDate|clientdate}}"
                         translate-value-duration="{{n.challengeDuration}}"></div>


                    <!--<div class="amountNumbers">{{keg.currentAmount|amount:'full'}} / {{keg.size|amount:'full'}}</div>-->

                </div>


            </div>
        </div>
        <!-- Challenge Done -->
        <!--
        -->
        <div class="flip-container" ng-if="n.type=='CHALLENGE_DONE'">
            <div class="flipper">
                <div class="front zm-backgrnd">
                    <img ng-src="{{baseUrl+n.image}}" class="img-rounded"/>

                    <div class="brand" translate="NEWSSTACK_CHALLENGE_DONE"
                         translate-value-username1="{{n.team1[0].userName}}"
                         translate-value-username2="{{n.team2[0].userName}}"
                         translate-value-winner="{{n.team1[0].won?n.team1[0].userName:n.team2[0].userName}}"
                         translate-value-duration="{{n.challengeDuration}}"></div>

                    <div class="location" translate="NEWSSTACK_CHALLENGE_DONE_INFO"
                         translate-value-date="{{n.startDate|clientdate}}"
                         translate-value-duration="{{n.challengeDuration}}"></div>


                    <!--<div class="amountNumbers">{{keg.currentAmount|amount:'full'}} / {{keg.size|amount:'full'}}</div>-->

                </div>


            </div>
        </div>
        <!-- CHALLENGE DECLINED-->
        <div class="flip-container" ng-if="n.type=='CHALLENGE_DECLINED'">
            <div class="flipper">
                <div class="front zm-backgrnd">
                    <img ng-src="{{baseUrl+n.image}}" class="img-rounded"/>

                    <div class="brand" translate="NEWSSTACK_CHALLENGE_DECLINED"
                         translate-value-username1="{{n.team1[0].userName}}"
                         translate-value-username2="{{n.team2[0].userName}}"
                         translate-value-declinee="{{n.team2[0].userName}}"
                         translate-value-duration="{{n.challengeDuration}}"></div>

                    <div class="location"  translate="NEWSSTACK_CHALLENGE_DECLINED_INFO"
                         translate-value-date="{{n.date|clientdate}}"
                         translate-value-duration="{{n.challengeDuration}}"></div>


                    <!--<div class="amountNumbers">{{keg.currentAmount|amount:'full'}} / {{keg.size|amount:'full'}}</div>-->

                </div>


            </div>
        </div>
    </li>

</ul>
</div>