<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>de.kile.zapfmaster2000.rest</display-name>

	<servlet>
        <servlet-name>Zapfmaster2000 RESTful Service</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
      <!--  <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.restfully.shop.services.ShoppingApplication</param-value>
        </init-param> -->
    </servlet>
    
	<context-param>
		<param-name>resteasy.scan</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/rest/</param-value>
	</context-param>
	
	<!-- <servlet> <servlet-name>Zapfmaster2000 RESTful Service</servlet-name> 
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class> 
		<init-param> <param-name>com.sun.jersey.config.property.packages</param-name> 
		<param-value>de.kile.zapfmaster2000.rest.api</param-value> </init-param> 
		<init-param> <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name> 
		<param-value>true</param-value> </init-param> <init-param> <param-name>com.sun.jersey.config.property.WebPageContentRegex</param-name> 
		<param-value>/*</param-value> </init-param> <load-on-startup>1</load-on-startup> 
		</servlet> -->
	<servlet-mapping>
		<servlet-name>Zapfmaster2000 RESTful Service</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app> 