@font-face {
    font-family: RalewayLight;
    src: url(fonts/Raleway-Bold.otf);
}

@font-face {
    font-family: RalewayRegular;
    src: url(fonts/Raleway-Regular.otf);
}

@font-face {
    font-family: RalewaySemiBold;
    src: url(fonts/Raleway-SemiBold.otf);
}

@font-face {
    font-family: RalewayBold;
    src: url(fonts/Raleway-Bold.otf);
}

body {
    font-family: RalewayRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("images/drops.png");
    color: #ffffff;
}

.loadingScreen {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

}

header > nav {
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
}

header > nav  > ul {
    background: #000000;
    color: #ffffff;
    opacity: 0.5;
    display: inline-block;
    margin: 0;
    padding: 0px 15px;
    padding-bottom: 5px;
}

header > nav > ul > li {
    display: inline;
    list-style: none;
    margin-right: 10px;
}
header > nav > ul > li > a,header > nav > ul > li > a:hover{
    color: #ffffff;
    text-decoration: none;
}
header > nav > ul > li::before {
    content: "  ";
}

/*ng-view {

    position: absolute;
    top: 0%;
}

#main {
    position: relative;

}

.ng-enter {
    -webkit-animation: enter 0.5s ease-in;
    animation: enter 0.5s ease-in;
}

.ng-leave {
    -webkit-animation: enter 0.5s ease-out reverse;
    animation: enter 0.5s ease-out reverse;
}

@-webkit-keyframes enter {
    0% {

        opacity: 0;
    }
    50% {

    }
    100% {

        opacity: 1;
    }
}

@keyframes enter {
    0% {

        opacity: 0;
    }
    50% {

    }
    100% {

        opacity: 1;
    }
}

  */