@font-face {
    font-family: RalewayLight;
    src: url(fonts/Raleway-Bold.otf);
}

@font-face {
    font-family: RalewayRegular;
    src: url(fonts/Raleway-Regular.otf);
}

@font-face {
    font-family: RalewaySemiBold;
    src: url(fonts/Raleway-SemiBold.otf);
}

@font-face {
    font-family: RalewayBold;
    src: url(fonts/Raleway-Bold.otf);
}

body {
    font-family: RalewayRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("images/drops.png");
    color: #ffffff;
}

.loadingScreen {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

}

header > nav {
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    z-index: 26000;
}

header > nav  > ul {
    background: #000000;
    color: #ffffff;
    opacity: 0.5;
    display: inline-block;
    margin: 0;
    padding: 0px 15px;
    padding-bottom: 5px;
}

header > nav > ul > li {
    display: inline;
    list-style: none;
    margin-right: 10px;
}
header > nav > ul > li > a,header > nav > ul > li > a:hover{
    color: #ffffff;
    text-decoration: none;
}
header > nav > ul > li::before {
    content: "  ";
}

/*ng-view {

    position: absolute;
    top: 0%;
}

#main {
    position: relative;

}

.ng-enter {
    -webkit-animation: enter 0.5s ease-in;
    animation: enter 0.5s ease-in;
}

.ng-leave {
    -webkit-animation: enter 0.5s ease-out reverse;
    animation: enter 0.5s ease-out reverse;
}

@-webkit-keyframes enter {
    0% {

        opacity: 0;
    }
    50% {

    }
    100% {

        opacity: 1;
    }
}

@keyframes enter {
    0% {

        opacity: 0;
    }
    50% {

    }
    100% {

        opacity: 1;
    }
}

  */
.zmo-challenges{
    padding-right:15px;
    padding-left: 15px;
}
.zmo-challenges header{
    font-family: RalewayBold;
    font-size: 32px;
}

.zmo-container{
    height:500px;
    background: rgba(0,0,0,0.4);

    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right:20px;

}
.zmo-challenges img.userimage1,.zmo-challenges img.userimage2,.zmo-challenges div.username1,.zmo-challenges div.username2,.zmo-challenges .bar1,.zmo-challenges .bar2{
    position: absolute;
}
.zmo-challenges .clock{
    font-size: 18pt;
    padding-top:40px;
}
.zmo-challenges .challenge-container{
    position: relative;
    height:100px;
    text-align: center;
}
.zmo-challenges img.userimage1{
    left: 0px;
   /* width: 12.8%;
    height: 50%;  */
}
.zmo-challenges div.username1{
    left: 5px;
}
.zmo-challenges img.userimage2{
    right: 0px;
   /* width: 12.8%;
    height: 50%; */
}
.zmo-challenges div.username2{
    right: 5px;
}
.zmo-challenges div.username1,.zmo-challenges div.username2{
    margin-top: 50px;
    font-size: 15pt;
}
.challenge-container:nth-child(odd) img.userimage1{
    border:  1px solid #FFF143;
}
.challenge-container:nth-child(even) img.userimage1{
    border: 1px solid #FF71AC;
}
.challenge-container:nth-child(odd) img.userimage2{
    border:  1px solid #FF71AC;
}
.challenge-container:nth-child(even) img.userimage2{
    border: 1px solid #FFF143;
}

.zmo-challenges .bar1,.zmo-challenges .bar2{
      top: 10px;
    transition:translateZ(0);
    transition:1s;

}
.zmo-challenges .bar1{

}

.zmo-challenges .bar2{
  right: 0;
}

.challenge-container:nth-child(even) .bar1{
    border: 2px solid #FF71AC;
    background:rgba(255,113,172,0.5);
    height:30px;
}
.challenge-container:nth-child(odd) .bar1{
    border: 2px solid #FFF143;
    background:rgba(255,241,67,0.5);
    height:30px;
}
.challenge-container:nth-child(even) .bar2{
    border: 2px solid #FFF143;
    background:rgba(255,241,67,0.5);
    height:30px;
}
.challenge-container:nth-child(odd) .bar2{
    border: 2px solid #FF71AC;
    background:rgba(255,113,172,0.5);
    height:30px;
}

.zmo-challenges .zm-img{
    border: 1px solid yellow;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 48px;
    height: 48px;
}


.challenge-container.ng-enter {
    transition:translateZ(0);
    -webkit-transition: 1s;
    transition: 1s;

    top: -100px;
    opacity: 0;
}

.challenge-container.ng-enter-active {
    top: 0;
    opacity: 1;
}

.challenge-container.ng-leave {
    transition:translateZ(0);
    -webkit-transition: 1s;
    transition: 1s;

    top: 0;
    opacity: 1;
}

.challenge-container.ng-leave-active {
    top: 100px;
    opacity: 0;

}
