@font-face {
    font-family: RalewayLight;
    src: url(fonts/Raleway-Bold.otf);
}

@font-face {
    font-family: RalewayRegular;
    src: url(fonts/Raleway-Regular.otf);
}

@font-face {
    font-family: RalewaySemiBold;
    src: url(fonts/Raleway-SemiBold.otf);
}

@font-face {
    font-family: RalewayBold;
    src: url(fonts/Raleway-Bold.otf);
}

body {
    font-family: RalewayRegular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url("images/drops.png");
    color: #ffffff;
}
.loadingScreen.ng-leave{
    transition: translateZ(0);
    -moz-transition: 1s;

    -webkit-transition: 1s;
    transition: 1s;


    opacity: 1;
}
.loadingScreen.ng-leave-active{
    transition: translateZ(0);
    -moz-transition: 1s;

    -webkit-transition: 1s;
    transition: 1s;


    opacity: 0;
}

.loadingScreen {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

}

header > nav {
    text-align: center;
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px;
    z-index: 26000;
}

header > nav  > ul {
    background: #000000;
    color: #ffffff;
    opacity: 0.5;
    display: inline-block;
    margin: 0;
    padding: 0px 15px;
    padding-bottom: 5px;
}

header > nav > ul > li {
    display: inline;
    list-style: none;
    margin-right: 10px;
}

header > nav > ul > li > a, header > nav > ul > li > a:hover {
    color: #ffffff;
    text-decoration: none;
}

header > nav > ul > li::before {
    content: "  ";
}

/*ng-view {

    position: absolute;
    top: 0%;
}

#main {
    position: relative;

}

.ng-enter {
    -webkit-animation: enter 0.5s ease-in;
    animation: enter 0.5s ease-in;
}

.ng-leave {
    -webkit-animation: enter 0.5s ease-out reverse;
    animation: enter 0.5s ease-out reverse;
}

@-webkit-keyframes enter {
    0% {

        opacity: 0;
    }
    50% {

    }
    100% {

        opacity: 1;
    }
}

@keyframes enter {
    0% {

        opacity: 0;
    }
    50% {

    }
    100% {

        opacity: 1;
    }
}

  */

.username1,.username2{
  /*  text-overflow: ellipsis;

    overflow: hidden;*/
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 0 400%; }
}
@-webkit-keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 0 400%; }
}
@-ms-keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 0 400%; }
}
@-moz-keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 0 400%; }
}

.throbber{
    width: 50px;
    height: 137px;
    background-image: url(images/beer.png);
    background-position: 0px 100%;
    background-repeat: repeat-y;
    -webkit-mask: url(images/throbber-mask.png);
    -o-mask-image:  url(images/throbber-mask.png);
    -moz-mask-image:  url(images/throbber-mask.png);

    animation: animatedBackground 40s linear infinite;
    -ms-animation: animatedBackground 40s linear infinite;
    -moz-animation: animatedBackground 40s linear infinite;
    -webkit-animation: animatedBackground 40s linear infinite;
   /* width: 560px;
    height: 400px;
    background-image: url(images/zm_logo.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    -ms-animation: animatedBackground 40s linear infinite;
    -moz-animation: animatedBackground 40s linear infinite;
    -webkit-animation: animatedBackground 40s linear infinite; */
}
/* ----------------------
        Challenges
------------------------- */
.zmo-challenges {
    padding-right: 15px;
    padding-left: 15px;
}

header.zmo-header {
    font-family: RalewayBold;
    font-size: 32px;
}

.zmo-container {
    height: 500px;
    background: rgba(0, 0, 0, 0.4);

    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.zm-absolute {
    position: absolute;
}

img.userimage1, img.userimage2, div.username1, div.username2, .bar1, .bar2 {
}

.zmo-challenges .clock {
    font-size: 22pt;
    padding-top: 35px;
}

.zmo-challenges .challenge-container {
    position: relative;
    height: 100px;
    text-align: center;
    list-style: none;
}

.zmo-challenges img.userimage1 {
    left: 0px;
    /* width: 12.8%;
     height: 50%;  */
}

.zmo-challenges div.username1 {
    left: 5px;


}

.zmo-challenges img.userimage2 {
    right: 0px;
    /* width: 12.8%;
     height: 50%; */
}

.zmo-challenges div.username2 {
    right: 5px;
}

.zmo-challenges div.username1, .zmo-challenges div.username2 {
    margin-top: 50px;
    font-size: 15pt;
}

.color-container:nth-child(odd) img.userimage1 {
    border: 1px solid #FFF143;
}

.color-container:nth-child(even) img.userimage1 {
    border: 1px solid #FF71AC;
}

.color-container:nth-child(odd) img.userimage2 {
    border: 1px solid #FF71AC;
}

.color-container:nth-child(even) img.userimage2 {
    border: 1px solid #FFF143;
}
.zm-animate{
    transition: translateZ(0);
    transition: 1s;
}
.zmo-challenges .bar1, .zmo-challenges .bar2 {
    top: 10px;
    transition: translateZ(0);
    transition: 1s;

}

.zmo-challenges .bar1 {

}

.zmo-challenges .bar2 {
    right: 0;
}

.color-container:nth-child(even) .bar1 {
    border: 2px solid #FF71AC;
    background: rgba(255, 113, 172, 0.5);
    height: 30px;
}

.color-container:nth-child(odd) .bar1 {
    border: 2px solid #FFF143;
    background: rgba(255, 241, 67, 0.5);
    height: 30px;
}

.color-container:nth-child(even) .bar2 {
    border: 2px solid #FFF143;
    background: rgba(255, 241, 67, 0.5);
    height: 30px;
}

.color-container:nth-child(odd) .bar2 {
    border: 2px solid #FF71AC;
    background: rgba(255, 113, 172, 0.5);
    height: 30px;
}

.zmo-challenges .zm-img {
    border: 1px solid yellow;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 48px;
    height: 48px;
}

.challenge-container.ng-enter {
    transition: translateZ(0);
    -moz-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;

    top: -100px;
    opacity: 0;
}

.challenge-container.ng-enter-active {
    top: 0;
    opacity: 1;
}

.challenge-container.ng-leave {
    transition: translateZ(0);
    -moz-transition: 1s;

    -webkit-transition: 1s;
    transition: 1s;

    top: 0;
    opacity: 1;
}

.challenge-container.ng-leave-active {
    top: 100px;
    opacity: 0;

}

.winner {
    box-shadow: 0 0 40px;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.img-rounded {
    border-radius: 10px;
}

/* ----------------------
        Bestlist
------------------------- */

.bestlist {
    position: relative;

}

.bestlist li.bestlist-item {
    list-style: none;
    position: absolute;
    width: 100%;
    padding-right: 40px;
    margin-top: 20px;
    transition: translateZ(0);

    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    transition:  0.5s ease-in-out;
}
 li.bestlist-item.ng-enter{
     -webkit-transition: 1s;
     -moz-transition: 1s;
     transition: 1s;
     margin-top:-50px;

     opacity: 0;
 }
/*li.bestlist-item.ng-enter-active {

    margin-top:0;
    opacity: 1;
}
li.bestlist-item.ng-leave{
    -webkit-transition: 1s;
    transition: 1s;


    opacity: 1;
}    */
li.bestlist-item.ng-leave-active {

    opacity: 0;
}
.bestlist .bar1{
    background-color: black !important;
    border-radius: 10px;
    border-width: 2px;
}
.bestlist .bestlistbar {
    right: 0;
    top: 20px;
    box-sizing: content-box;
    -moz-box-sizing:content-box;
    /* min-width: 255px;
     max-width: 100%;    */
    height: 40px !important;
    width: 100%;
    padding-left: 200px;

}

.zm-relative {
    position: relative;
}

.bestlist .zm-relative {
    margin-left: 250px;

}

.bestlist .bar-wrapper {
    position: relative;

}

.bestlist .userimage1 {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 10px;
}

.content-wrapper {
    position: relative;

}

.bestlist .content-wrapper {
    margin-left: auto;
    /*  margin-right: 200px;*/
}

.bestlist .userimage1, li.bestlist .username1 {

}

.bestlist .zm-absolute1 {
    width: 250px;
    margin-left: auto;

    position: absolute;
}

.zm-absolute1-wrapper {
    position: relative;
    margin-left: 250px;
}

.bestlist .username1{
    min-width: 130px;
}
.bestlist .username1,.bestlist .amount {
    font-family: RalewaySemiBold;
    font-size: 18pt;
    line-height: 80px;
}

.bestlist .amount {
    right: 10px;

    z-index: 1;

}

