<div class="row zm-row" style="margin-top:50px">
    <div ng-controller="BestlistController" ng-init="init(true,true);"
         class="col-xs-12 col-sm-6 col-md-8 col-sm-push-6 col-md-push-4">
        <zm-accordion title="{{'BESTLIST_TITLE'|translate }}" icon="css/images/ic_menu_ranking.svg">
            <ul class="zm-bestlist">
                <li ng-repeat="user in bestlist" style="position: relative">
                    <div>{{$index+1}}. {{user.name}} <span zm-number-interpolation="{{user.amount}}" filter="amount">{{user.amount|amount}}</span> l
                        <img class="img-rounded pull-right" ng-src="{{baseUrl+user.image}}" width="50"/></div>
                    <div class="zm-bar" ng-style="{'width':(user.amountPercent)+'%'}"></div>
                </li>
            </ul>
        </zm-accordion>
    </div>
    <div ng-controller="NewsfeedController"
         class="col-xs-12 col-sm-6 col-md-4 col-sm-pull-6 col-md-pull-8 zmw-newsfeed">

        <zm-accordion title="{{'NEWSFEED_TITLE'|translate }}" icon="css/images/ic_menu_news.svg">
            <div infinite-scroll="loadNextItems()" infinite-scroll-distance="0" infinite-scroll-disabled="busy">
                <feed items="items" no-animation="true"></feed>
            </div>
            <div style="text-align: center" ng-hide="noMoreData"><img ng-src="css/images/throbber.gif" class="img-rounded"/></div>
        </zm-accordion>
    </div>


</div>