
<div>
    <div ng-repeat="row in rows" class="row">
        <div ng-repeat="col in row" ng-include="col.name+'/template.html'" class="{{col.className}}">
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-6" ng-include="rows[0].name + '/template.html'"></div>
        <div class="col-md-6" ng-include="rows[1].name + '/template.html'"></div>

    </div>
    <div class="row">
        <div class="col-md-8" ng-include="rows[2].name + '/template.html'"></div>
        <div class="col-md-4" ng-include="rows[3].name + '/template.html'"></div>


    </div>
        -->
   <!-- <div ng-repeat="row in rows" ng-include="row.name + '/template.html'"></div>   -->

</div>