<nav class="navbar-fixed-top zm-navbar zm-animate-show" role="navigation"
     ng-show="showNav">

    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="navbar-nav hidden-xs" movingunderline="navItems">
        <li ng-repeat="item in navItems" ng-class="{'pull-right':item.pullRight}" class="{{item.navClass()}}">
            <div ng-if="item.directive=='userInfo'"><user-info/></div>
            <a ng-if="!item.directive" href="" ng-click="item.onClick()">
                <img ng-if="item.imageUrl" ng-src="{{item.imageUrl}}" height="42"/>
                <i ng-if="item.glyphicon" class="glyphicon {{item.glyphicon}}" style="font-size: 1.5em;margin-top:5px"/>
                <span>{{item.title}}</span></a>
        </li>

    </ul>
    <ul class="nav-justified visible-xs">

        <li ng-repeat="item in navItems" ng-if="!item.notVisibleXs" ng-class="item.navClass()" ng-click="item.onClick()">
            <a href="">
            <img  ng-if="item.imageUrl" ng-src="{{item.imageUrl}}" height="42"/>
             <i ng-if="item.glyphicon" class="glyphicon {{item.glyphicon}}" style="font-size: 1.7em; margin-top:5px"/>
        </a></li>
    </ul>

    <!-- /.navbar-collapse -->

    <!-- /.container-fluid -->
</nav>