<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">net.bull.javamelody.JdbcDriver</property>
		<property name="connection.driver">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password">foo</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/zapfmaster2000</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hbm2ddl.auto">update</property>

		<property name="teneo.mapping.cascade_policy_on_non_containmentupdate">REFRESH,PERSIST,MERGE</property>
		<property name="teneo.mapping.inheritance">JOINED</property>

		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">false</property>
	</session-factory>
</hibernate-configuration>