 <template id="ZMO-frontpagestats-general-template">

	<table class="stats-drinker">
{{#bestUser}}
<tr class="stats-drinker-row">

	<td>[[alltimeBest]]</td><td><a href="#user?id={{userId}}">{{userName}}</a> ({{amount}}[[liter]])</td>
</tr>
{{/bestUser}}
{{#bestUserHour}}
<tr class="stats-drinker-row">

	<td>[[drinkerHourBest]]</td><td><a href="#user?id={{userId}}">{{userName}}</a> ({{amount}}[[liter]])</td>
</tr>
{{/bestUserHour}}
{{#bestAchievement}}
<tr class="stats-drinker-row">

	<td>[[achievementBest]]</td><td><a href="#user?id={{userId}}">{{userName}}</a> ({{^amount}}{{achievementCount}}{{/amount}}{{amount}})</td>

</tr>
{{/bestAchievement}}
{{#bestDrawCount}}
<tr class="stats-drinker-row">
	<td>[[drawCountBest]]</td><td><a href="#user?id={{userId}}">{{userName}}</a> ({{^amount}}{{drawCount}}{{/amount}}{{amount}}x)</td>
</tr>
{{/bestDrawCount}}
{{#promille}}
<tr class="stats-drinker-row">
	<td>[[alcohollevelBest]]</td><td>{{promille}} &permil;</td>
</tr>
{{/promille}}


<!-- Frontpage User stats -->
{{#news}}
<tr class="stats-drinker-row">
	<td><img src="{{userImage}}" /> </td><td>{{userName}}</td>
</tr>
{{/news}}
{{#amount}}
<tr class="stats-drinker-row">
	<td>[[completeAmount]]</td><td>{{complete}} [[liter]]</td>
</tr>
<tr class="stats-drinker-row">
	<td>[[mostActivityHour]]</td><td>{{mostActivityHour}} [[clock]]</td>
</tr>
{{/amount}}
{{#userRank}}
<tr class="stats-drinker-row">
	<td>[[userRank]]</td><td>{{amount}}.</td>
</tr>
{{/userRank}}
{{#amountComplete}}
<tr class="stats-drinker-row">
	<td>[[completeAmount]]</td><td>{{amountComplete}} [[liter]]</td>
</tr>
{{/amountComplete}}
{{#amountAtMost}}
<tr class="stats-drinker-row">
	<td>[[greatestDrawing]]</td><td>{{amountAtMost}} [[liter]]</td>
</tr>
{{/amountAtMost}}
{{#amountAverage}}
<tr class="stats-drinker-row">
	<td>[[averageDrawCount]]</td><td>{{amountAverage}}.x/l</td>
</tr>
{{/amountAverage}}
{{#mostActivityHour}}
<tr class="stats-drinker-row">
	<td>[[mostActivityHour]]</td><td>{{mostActivityHour}}.[[clock]]</td>
</tr>
{{/mostActivityHour}}
{{#drawCount}}
<tr class="stats-drinker-row">
	<td>[[completeDrawCount]]</td><td>{{operations}}{{^average}}{{drawCount}}{{/average}}.</td>
</tr>
{{/drawCount}}

{{#achievementCount}}
<tr class="stats-drinker-row">
	<td>[[completeAchievements]]</td><td>{{achievementCount}}.</td>
</tr>
{{/achievementCount}}
{{#mostAchievementHour}}
<tr class="stats-drinker-row">
	<td>[[mostAchievementHour]]</td><td>{{mostAchievementHour}} [[clock]]</td>
</tr>
{{/mostAchievementHour}}

</table>

 </template>
  <template id="ZMO-frontpagestats-template" type="text/html">
 <div class="text">
	<table class="stats-drinker">
<tr class="stats-drinker-row">
	<td>[[boxId]] </td><td>{{boxId}}</td>
</tr>
<tr class="stats-drinker-row">
	<td>[[brand]] </td><td>{{brand}}</td>
</tr>
<tr class="stats-drinker-row">
	<td>[[currentAmount]] </td><td>[[currentAmountTemplate]]</td>
</tr>
<tr class="stats-drinker-row">
	<td>[[kegStartDate]] </td><td>{{start_date}}</td>
</tr>
<tr class="stats-drinker-row">
	<td>[[lastsUntil]] </td><td>{{lastsUntilShort}} [[clock]]</td>
</tr>
</table>
</div>
 </template>

<template id="ZMO-achievementsstats-description-template" type="text/html">
<table class="stats-drinker">
<tr >
	<td>[[image]]</td>
	<td><img src="{{achievementImage}}" /></td>

</tr>
<tr >
	<td>[[achievementName]]</td>
<td>{{achievementName}}</td>
</tr>
<tr >
	<td>[[description]]</td>
<td>{{description}}</td>
</tr>
</table>
 </template>
 <template id="ZMO-achievementsstats-list-template" type="text/html">
<div>
<div class="member-headline">Achievement: {{achievementName}}</div>
<div class="statsdiv">
<table class="stats-drinker">
{{#users}}
	<tr class="stats-drinker-row">
		<td><img src="{{userImage}}" /></td>
		<td><a href="#user?id={{userId}}">{{userName}}</a></td>
		<td>[[reachedAt]]</td>
	</tr>
{{/users}}
</table>
</div>
</div>

 </template>
 <template id="ZMO-duelsRow" type="text/html">
 <li class="row">
	<div class="rowContainer">
<div class="team1_amount"></div>
	<div class="team2_amount"></div>
	<!--<span class="backgrnd"><img src="css/images/challenge.png" style="opacity:0.5"/></span>
	-->
	<span class="team">{{#team1}}<img src="{{userImage}}"/>{{/team1}}</span>
	<span class="team2">{{#team2}}<img src="{{userImage}}"/>{{/team2}}</span>
	<span class="type">({{type}})</span>
	<span class="time">{{time}}</span>
	<div class="usernames">
		<span class="name1">{{#team1}}{{userName}}{{/team1}}</span>
	 	<span class="center">-</span>
		<span class="name2"> {{#team2}}{{userName}}{{/team2}}</span>
	 </div>
</div>
</li>
 </template>
<template id="ZMO-news-template" type="text/html">
		<li class="news-drink-box">
			<div class="news-drink-box-mugshot">
				<div>
					<a href="#user?id={{userId}}"><img width="48" height="48" border="0" src="{{userImage}}"></a>
				</div>
			</div>
			<div class="news-drink-box-details">
				<div class="news-drink-box-details-headline">
					[[draws]]<!-- <a href="#">{{userName}}</a> [[draws]] <b>{{amount}}</b>[[liter]] -->
				</div>
				<div class="news-box-info">[[newsboxInfoTemplate]]
				</div>
			</div>
			<div class="news-box-dateline">
				<abbr title="{{date}}" class="timeago">[[atTime]]</abbr>
			</div>
		</li>
</template>
<template id="ZMO-news-template-achievement" type="text/html">
<li class="news-drink-box">
	<div class="news-drink-box-mugshot">
		<div>
			<a href="#achievement?id={{achievementId}}">
				<img src="{{image}}" border="0" height="48" width="48">
			</a>
		</div>
	</div>
	<div class="news-drink-box-details">
		<div class="news-drink-box-details-headline">
			 [[reachedAchievement]]
			
			
		</div>
		<div class="news-box-info">
			[[place]] <a href="place.php">{{place}}</a>
		</div>
	</div>
	<div class="news-box-dateline">
		<abbr class="timeago" title="{{date}}">[[atTime]]</abbr>
	</div>
</li>
</template>
<template id="ZMO-news-template-challenge-started" type="text/html">
<li class="news-drink-box">
	<div class="news-drink-box-mugshot">
		<div>
			<a>
				<img src="{{image}}" border="0" height="48" width="48">
			</a>
		</div>
	</div>
	<div class="news-drink-box-details">
		<div class="news-drink-box-details-headline">
			[[startsChallengeAgainst]]!
		</div>
		<div class="news-box-info">
			[[place]] <a href="#">{{place}}</a>
		</div>
	</div>
	<div class="news-box-dateline">
		<abbr class="timeago" title="{{date}}">[[atTime]]</abbr>
	</div>
</li>
</template>

<template id="ZMO-news-template-challenge-done">
<li class="news-drink-box">
	<div class="news-drink-box-mugshot">
		<div>
			<a>
				<img src="{{image}}" border="0" height="48" width="48">
			</a>
		</div>
	</div>
	<div class="news-drink-box-details">
		<div class="news-drink-box-details-headline">
			[[hadChallengeAgainst]]
		</div>
		<div class="news-box-info">
			[[place]] <a href="#">{{place}}</a>
		</div>
	</div>
	<div class="news-box-dateline">
		<abbr class="timeago" title="{{date}}">[[atTime]]</abbr>
	</div>
</li>
</template>
<template id="ZMO-news-template-challenge-declined">
<li class="news-drink-box">
	<div class="news-drink-box-mugshot">
		<div>
			<a>
				<img src="{{image}}" border="0" height="48" width="48">
			</a>
		</div>
	</div>
	<div class="news-drink-box-details">
		<div class="news-drink-box-details-headline">
			[[declinedChallengeTemplate]]
		</div>
		<div class="news-box-info">
			[[place]]<a href="#">{{place}}</a>
		</div>
	</div>
	<div class="news-box-dateline">
		<abbr class="timeago" title="{{date}}">[[atTime]]</abbr>
	</div>
</li>
</template>
<template id="ZMO-achievements-template-box">
<div class="news-drink-box">
	<div class="member-box-left">
		<div class="news-drink-box-mugshot">
			<div>
				<a href="#achievement?id={{achievementId}}">
					<img width="48" height="48" border="0" src="{{achievementImage}}">
				</a>
			</div>
		</div>
		<div class="members-box-headline">
			<a href="#achievement?id={{achievementId}}">{{achievementName}}</a>
		</div>
		<div class="members-box-amount">
			[[achievementCountReached]]
		</div>
	</div>

{{#additional}}
	<div class="member-box-additional">
		+ {{additionalCount}}
	</div>
{{/additional}}

{{#users}}	
	<div class="member-box-achievement-mugshot">
		<div>
			<a href="#users?id={{userId}}">
				<img width="48" height="48" border="0" src="{{userImage}}" title="{{userName}}">
			</a>
		</div>
	</div>	
{{/users}}

<div style="clear:both;"></div>
</div>


</template>

<template id="ZMO-news-new-keg" type="text/html">
<li class="news-drink-box">
	<div class="news-drink-box-mugshot">
		<div>
			<img src="{{image}}" border="0" height="48" width="48">
		</div>
	</div>
	<div class="news-drink-box-details">
		<div class="news-drink-box-details-headline">
				[[newKeg]]
		</div>
		<div class="news-box-info">[[place]] {{location}}</div>
	</div>
	<div class="news-box-dateline">
		<abbr class="timeago" title="{{date}}">[[atTime]]</abbr>
	</div>
</li>
</template>

<template id="ZMO-news-new-user" type="text/html">
<li class="news-drink-box">
	<div class="news-drink-box-mugshot">
		<div>
			<img src="{{image}}" border="0" height="48" width="48">
		</div>
	</div>
	<div class="news-drink-box-details">
		<div class="news-drink-box-details-headline">
				[[newUser]]
		</div>
		<div class="news-box-info">[[place]] {{place}}</div>
	</div>
	<div class="news-box-dateline">
		<abbr class="timeago" title="{{date}}">[[atTime]]</abbr>
	</div>
</li>
</template>

<template id="ZMO-members-template-box">
<div class="news-drink-box">
	<div class="member-box-left">
		<div class="news-drink-box-mugshot">
			<div>
				<a href="#user?id={{userId}}">
					<img width="48" height="48" border="0" src="{{userImage}}">
				</a>
			</div>
		</div>
		<div class="members-box-headline">
			<a href="#user?id={{userId}}">{{userName}}</a>
		</div>
		<div class="members-box-amount">
			[[tappedQuantity]]
		</div>
	</div>

{{#additional}}
	<div class="member-box-additional">
		+ {{additionalCount}}
	</div>
{{/additional}}

{{#achievements}}	
	<div class="member-box-achievement-mugshot">
		<div>
			<a href="#achievement?id={{achievementId}}">
				<img width="48" height="48" border="0" src="{{imagePath}}" title="{{achievementName}}">
			</a>
		</div>
	</div>	
{{/achievements}}

<div style="clear:both;"></div>
</div>


</template>
<template id="ZMO-stats-bestlist-item">
<tr class="bestlist-item">
<td class="rank">
{{rank}}.
</td>
	<td class="name">
		<a href="#user?id={{userId}}">{{userName}}</a>	
	</td>
	<td class="amount">
		{{#amount}}{{amount}}{{/amount}}
		{{#achievementCount}}{{achievementCount}}{{/achievementCount}}
		{{#drawCount}}{{drawCount}}{{/drawCount}}
 {{unit}}
	</td>
</tr>
</template>
  <template id="ZMO-createChallengeRow">
 <li class="row">
	<div class="rowContainer">
		<img src="{{image}}{{userImage}}" />
	<span>{{name}}{{userName}} {{#description}}:{{description}}{{/description}}</span>
</li>
 </template>
<template id="ZMO-stats-mobile-kegstatus">
<table>
{{#keg}}
	<tr>
		<td>[[brand]]</td>
		<td>{{brand}}</td>
	</tr>
	<tr>
		<td>[[completeAmount]]</td>
		<td>{{current_amount}}</td>
	</tr>
	<tr>
		<td>lasts until</td>
		<td>{{lastsUntil}}</td>
	</tr>
	
{{/keg}}
	
</table>
</template>
<template id="ZMO-stats-mobile-user-general">
<table class="stats-drinker">

<tr class="stats-drinker-row">

	<td>[[userRank]]</td><td>#{{amountRank}}</td>
</tr>
<tr class="stats-drinker-row">

	<td>[[achievementRank]]</td><td>#{{achievementRank}}</td>
</tr>
<tr class="stats-drinker-row">

	<td>[[drawCountsRank]]</td><td>#{{drawCountRank}}</td>
</tr>
<tr class="stats-drinker-row">

	<td>[[alcohollevelBest]]</td><td>{{promille}}&permil;</td>
</tr>
<tr class="stats-drinker-row">

	<td>[[completeDrawCount]]</td><td>{{drawCount}} x</td>
</tr>
<tr class="stats-drinker-row">

	<td>[[averageDrawCount]]</td><td>{{drawCountAverage}} x/h</td>
</tr>
<tr class="stats-drinker-row">

	<td>[[amount]]</td><td>{{amount}} l</td>
</tr>
<tr class="stats-drinker-row">

	<td>[[greatestDrawing]]</td><td>{{amountGreatestDrawing}} l</td>
</tr>
<tr class="stats-drinker-row">

	<td>[[mostActivityHour]]</td><td>{{mostActiveHour}} [[clock]]</td>
</tr>

</table>
</template>
<template id="ZMO-stats-mobile-user-achievement">
<table class="stats-drinker">


<tr class="stats-drinker-row">

	<td>[[completeAchievements]]</td><td>{{achievementCount}}</td>
</tr>
<tr class="stats-drinker-row">

	<td>[[mostAchievementHour]]</td><td>{{mostAchievementHour}} [[clock]]</td>
</tr>
</table>
</template>
<template id="ZMO-stats-mobile-user-popup">
<table class="stats-drinker">

<tr class="stats-drinker-row">
	<td><img width="48" height="48" src="{{achievementImage}}" /></td><td>{{achievementName}}</td>
</tr>
<tr class="stats-drinker-row">
	<td>[[description]]</td><td>{{achievementDescription}}</td>
</tr>
<tr class="stats-drinker-row">
	<td>[[reached]]</td><td>{{date}}</td>
</tr>
</table>
</template>