
body {
	background: none repeat scroll 0 0 #FFFFFF;
	background-image:url(images/view/backgrnd.jpg);
	color: black;
	font-family:Arial, Helvetica, sans-serif;
	margin: 0;
}
a:link {
	color: navy;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: navy;
	font-weight: bold;
	text-decoration: none;
}
a:active {
	color: navy;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: navy;
	font-weight: bold;
	text-decoration: none;
}
.news-box-info {
	color: #999999;
	font-size: 0.7em;
}
.news-box-info a:link {
	color: #999999;
	font-weight: normal;
	text-decoration: underline;
}
.news-box-info a:visited {
	color: #999999;
	font-weight: normal;
	text-decoration: underline;
}
.news-box-dateline {
	color: #CCCCCC;
	font-size: 0.7em;
	font-style: italic;
	text-align:right;
}
.news-drink-box-mugshot {
	float: left;
	margin-right: 12px;
}
.news-drink-box-details-headline {
	font-size:1.4em;
}
ul#topnav {
	width:950px;
	list-style:none;
	height:44px;
}
ul#topnav li {
	display:inline;
}
ul#topnav li a {
	height:44px;
	float:left;
	text-indent:-9999px;
}
ul#topnav li#topnav-0 a {
	width:115px;
	background:url(images/view/navi.png) no-repeat 0 0; /* X and Y position at 0 */
}
ul#topnav li#topnav-1 a {
	width:182px;
	background:url(images/view/navi.png) no-repeat -116px 0; /* X and Y position at 0 */
}
ul#topnav li#topnav-1 a:hover {
	background-position:-116px -44px; /* Y position -40px for Over instance image */
}
ul#topnav li#topnav-2 a {
	width:180px;
	background:url(images/view/navi.png) no-repeat -298px 0; /* X and Y position at 0 */
}
ul#topnav li#topnav-2 a:hover {
	background-position:-298px -44px; /* Y position -40px for Over instance image */
}
ul#topnav li#topnav-3 a {
	width:182px;
	background:url(images/view/navi.png) no-repeat -478px 0; /* X and Y position at 0 */
}
ul#topnav li#topnav-3 a:hover {
	background-position:-478px -44px; /* Y position -40px for Over instance image */
}
ul#topnav li#topnav-5 a {
	width:202px;
	background:url(images/view/navi.png) no-repeat -673px 0; /* X and Y position at 0 */
}
ul#topnav li#topnav-5 a:hover {
	background-position:-673px -44px; /* Y position -40px for Over instance image */
}
ul#topnav li#topnav-4 a {
	width:80px;
	background:url(images/view/navi.png) no-repeat -875px 0; /* X and Y position at 0 */
}
.news-drink-box {
	-webkit-border-radius: 4px;
	-khtml-border-radius:4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid silver;
	padding: 8px;
	margin:3px;
	background-image:url(images/view/news_background.png);
}

.newsfeed {
	float:left;
	margin-left:40px;
	-webkit-border-radius: 4px;
	-khtml-border-radius:4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid silver;
	padding: 8px;
	-moz-box-shadow: 1px 1px 3px #888;
	-webkit-box-shadow:1px 1px 3px #888;
	box-shadow: 1px 1px 3px #888;
	background-image:url(images/view/news_background.png);
	width:600px;
	height:auto;
}
.stats {
	float:left;
	margin-left:15px;
	-webkit-border-radius: 4px;
	-khtml-border-radius:4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid silver;
	padding: 8px;
	-moz-box-shadow: 1px 1px 3px #888;
	-webkit-box-shadow:1px 1px 3px #888;
	box-shadow: 1px 1px 3px #888;
	background-image:url(images/view/news_background.png);
	width:270px;
	
}
.newsdiv {
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	margin-left:5px;
}
.statstext{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;	
	color:#090;
	font-weight:bold;
	
}
.newscut {
	background-image:url(images/view/cut.png);
	background-repeat:no-repeat;
	height:1px;
	
}
.achievement{
text-align:center;	
}
.statsdiv{
	
	font-size:12px;
	-webkit-border-radius: 4px;
	-khtml-border-radius:4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid silver;
	padding: 3px;
	margin:3px;
	background-image:url(images/view/news_background.png);
	}
.statsHeadline{
	border:solid silver	1px;
	padding:5px;
	
	background-image:url(images/view/balken.png);
	-webkit-border-radius: 4px;
	-khtml-border-radius:4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow:1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
	color:white;	
	text-align:center;
		
		}
.kegtext{
	margin-top:-10px;
	text-align:center;
	}
.kegtext-drinker{
	
	width:130px;
	
	float:right;
	
}
.keg-chart{
	margin-top:-25px;
	margin-left:40px;
	
		
}
.statsImage{


}
.main{


}
.glowEffect{
-moz-box-shadow: 0px 0px 20px #FFFF00;
-webkit-box-shadow: 0px 0px 20px #FFFF00;
box-shadow: 0px 0px 20px #FFFF00;
	
}


.impr{
float:left;
margin-left:40px;
width:925px;
height:25px;
	
}
.imprDiv{
	height:25px;
	float:left;
}
.imprDiv2{
	height:25px;
	float:right;
}
.imprDiv3{
	height:23px;
}

.pagination{
	text-align:right;
	
}

.specialevents_close{
	right:2;
	font-size:10px;
	cursor:pointer;
	
	
}
