<ul class="zmo-container create-challenge">
    <li ng-repeat="challenge in pendingChallenges">
        <div>
            <img class="img-rounded" ng-src="{{baseUrl+challenge.team1[0].userImage}}"/>

            <div class="title"
                 translate="CREATE_CHALLENGE_HEADLINE"></div>

            <div class="subtitle"
                 translate="CREATE_CHALLENGE_SUBTITLE"
                 translate-value-challenger="{{challenge.team1[0].userName}}"
                 translate-value-duration="{{challenge.challengeDuration}}"
                    ></div>
            <div style="clear:both"></div>
        </div>
        <div class="buttons row">
            <div ng-click="denyChallenge(challenge.challengeId)" class="decline col-xs-6"
                 translate="CREATE_CHALLENGE_DECLINE"></div>
            <div ng-click="acceptChallenge(challenge.challengeId)" class="accept col-xs-6"
                 translate="CREATE_CHALLENGE_ACCEPT"></div>
        </div>
    </li>
</ul>
<div class="create-new-challenge" data-toggle="modal" data-target="#challengeUserModal">
    <img src="css/images/ic_menu_challenge.svg"/>
</div>
<!-- Modal -->
<div class="modal fade" id="challengeUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="zm-modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <button ng-click="backToOpponents()" type="button" class="close zm-back" ng-show="!chooseOpponent"><span aria-hidden="true">&#8592;</span></button>

                <h4 class="modal-title" id="myModalLabel" translate="CREATE_CHALLENGE_HEADLINE"></h4>
            </div>
            <div  ng-show="chooseOpponent" class="modal-body">
                <ul>
                    <li ng-click="chooseDuration(opponent.userId)" ng-repeat="opponent in opponents">
                        <img class="img-rounded zm-img" ng-src="{{baseUrl+opponent.userImage}}" />
                        <div>{{opponent.userName}} ({{opponent.totalAmount|amount}}l)</div>
                        <div style="clear: both"></div>
                    </li>
                </ul>
            </div>
            <div ng-show="!chooseOpponent" class="modal-body chose-duration">
                <ul>
                    <li ng-click="requestUserForChallenge(chosenUserId,10)">10Min</li>
                    <li ng-click="requestUserForChallenge(chosenUserId,30)">30Min</li>
                    <li ng-click="requestUserForChallenge(chosenUserId,60)">60Min</li>
                </ul>
            </div>

        </div>
    </div>
</div>