.statsdiv{

	
	
}


.stats{
width:279px;
	position:relative;
	
	

	padding: 8px;
	

	
	


}
.linediv {

width:900px;


}
#stats-radar{
width:279px;	
}
.containerStats{
width:900px;	
margin-left:26px;
}
.drinkstats{
	top:10px;
}

.bestlist{
	top:10px;
}
.stats-bestlist{
	margin-top:5px;	
	
	
}
.margin{

	
	
}
.keg-chart-bar{
margin:10px,
width:100%
	
}
.bestlist_0{
	background-color:#fff;

	
	
}
.bestlist_1{
	background-color:#CCC;

	
	
	
}