<div ng-controller="ChallengeController" class="zmo-challenges" ng-init="init()">
    <header class="zmo-header">{{'CHALLENGES_TITLE'|translate}}</header>
    <ul class="zmo-container" ng-style="{height:challengeMaxDuels+'20'+'px'}">
        <li class="challenge-container color-container" ng-repeat="challenge in challenges">
            <!--  <div class="zm-img" style='background: url("{{baseurl+challenge.team1[0].userImage}}")'/>  --->
            <div class="bar1 zm-absolute zm-animate" ng-style="{width:challenge.team1Percent+'%'}"></div>
            <div class="bar2 zm-absolute zm-animate" ng-style="{width:challenge.team2Percent+'%'}"></div>
            <img ng-class="{winner: challenge.team1[0].won}" class="zm-absolute img-responsive img-rounded userimage1"
                 ng-src="{{baseUrl+challenge.team1[0].userImage}}">

            <div class="username1 zm-absolute">{{challenge.team1[0].userName}}</div>


            <img ng-class="{winner: challenge.team2[0].won}" class="zm-absolute img-responsive img-rounded userimage2"
                 ng-src="{{baseUrl+challenge.team2[0].userImage}}">

            <div class="username2 zm-absolute">{{challenge.team2[0].userName}}</div>
            <div class="clock">{{challenge.countdown|countdown}}</div>
            <div class="challenge-amount-1">{{challenge.team1Amount|amount}}l</div>
            <div class="challenge-amount-2">{{challenge.team2Amount|amount}}l</div>

        </li>
    </ul>


</div>