<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="config" name="config" schema="schema/config.exsd"/>
   <extension-point id="achievement" name="achievement" schema="schema/achievement.exsd"/>
   <extension
         id="de.beeromat.internal.core.app.BeeromatApplication"
         name="BeeromatApplication"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="de.beeromat.internal.core.app.BeeromatApplication">
         </run>
      </application>
   </extension>
   <extension
         point="de.beeromat.core.config">
      <Config
            Default="0.5"
            Name="BEER_SIZE">
      </Config>
      <Config
            Default="0.02"
            Name="MIN_DRAW_AMOUNT">
      </Config>
      <Config
            Default="15"
            Name="MIN_TICKS">
      </Config>
      <Config
            Default="0"
            Name="TICK_REDUCTION">
      </Config>
      <Config
            Default="5500"
            Name="TICK_FACTOR">
      </Config>
   </extension>
   <extension
         point="de.beeromat.core.achievement">
      <achievement
            description="Ein Bier gezapft."
            imagePath="images/achievements/moe.png"
            name="Moe"
            processor="de.beeromat.internal.core.achievement.total.user.Moe"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Fünf Bier gezapft."
            imagePath="images/achievements/carl.png"
            name="Carl"
            processor="de.beeromat.internal.core.achievement.total.user.Carl"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Zehn Bier gezapft."
            imagePath="images/achievements/lenny.png"
            name="Lenny"
            processor="de.beeromat.internal.core.achievement.total.user.Lenny"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="15 Bier gezapft."
            imagePath="images/achievements/homer.png"
            name="Homer"
            processor="de.beeromat.internal.core.achievement.total.user.Homer"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="25 Bier gezapft."
            imagePath="images/achievements/barney.png"
            name="Barney"
            processor="de.beeromat.internal.core.achievement.total.user.Barney"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Insgesamt 25. Bier gezapft."
            imagePath="images/achievements/glueckspils.png"
            name="Glückspils"
            processor="de.beeromat.internal.core.achievement.total.global.GluecksPils"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Insgesamt 50. Bier gezapft."
            imagePath="images/achievements/esgehtseinengang.png"
            name="Es geht seinen Gang"
            processor="de.beeromat.internal.core.achievement.total.global.EsGehtSeinenGang"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Insgesamt 100. Bier gezapft."
            imagePath="images/achievements/venividibieri.png"
            name="Veni, Vidi, Bieri"
            processor="de.beeromat.internal.core.achievement.total.global.VeniVidiBieri"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Insgesamt 200. Bier gezapft."
            imagePath="images/achievements/halbzeit.png"
            name="Halbzeit"
            processor="de.beeromat.internal.core.achievement.total.global.Halbzeit"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Insgesamt 300. Bier gezapft."
            imagePath="images/achievements/thisissparta.png"
            name="This Is Sparta"
            processor="de.beeromat.internal.core.achievement.total.global.ThisIsSparta"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Drei Bier innerhalb von einer Stunde gezapft."
            imagePath="images/achievements/ultrakill.png"
            name="Ultra Kill"
            processor="de.beeromat.internal.core.achievement.total.hour.UltraKill"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Zwei Bier innerhalb von einer Stunde gezapft."
            imagePath="images/achievements/megakill.png"
            name="Mega Kill"
            processor="de.beeromat.internal.core.achievement.total.hour.MegaKill"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Vier Bier innerhalb von einer Stunde gezapft."
            imagePath="images/achievements/monsterkill.png"
            name="Monster Kill"
            processor="de.beeromat.internal.core.achievement.total.hour.MonsterKill"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Einmal Trinker der Stunde gewesen."
            imagePath="images/achievements/trinkerderstunde.png"
            name="Trinker der Stunde"
            processor="de.beeromat.internal.core.achievement.local.TrinkerDerStunde"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Alkoholspiegel von einem Promille erreicht."
            imagePath="images/achievements/lindsaylohan.png"
            name="Lindsay Lohan"
            processor="de.beeromat.internal.core.achievement.local.alclevel.LindsayLohan"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Alkoholspiegel von zwei Promille erreicht."
            imagePath="images/achievements/hankmoody.png"
            name="Hank Moody"
            processor="de.beeromat.internal.core.achievement.local.alclevel.HankMoody"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Alkoholspiegel von drei Promille erreicht."
            imagePath="images/achievements/charliesheen.png"
            name="Charlie Sheen"
            processor="de.beeromat.internal.core.achievement.local.alclevel.CharlieSheen"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Alkoholspiegel von vier Promille erreicht."
            imagePath="images/achievements/davidhasselhoff.png"
            name="David Hasselhoff"
            processor="de.beeromat.internal.core.achievement.local.alclevel.DavidHasselhoff"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Alkoholspiegel von fünf Promille erreicht."
            imagePath="images/achievements/haraldjuhnke.png"
            name="Harald Juhnke"
            processor="de.beeromat.internal.core.achievement.local.alclevel.HaraldJunke"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Fünf mal hintereinander jede Stunde ein Bier gezapft."
            imagePath="images/achievements/emsigesbienchen.png"
            name="Emsiges Bienchen"
            processor="de.beeromat.internal.core.achievement.local.EmsigesBienchen"
            public="false"
            type="SINGLE">
      </achievement>
      <achievement
            description="Vier Tage am Stück mindestens vier Bier gezapft."
            imagePath="images/achievements/biermaster.png"
            name="Biermaster"
            processor="de.beeromat.internal.core.achievement.local.degree.Biermaster"
            public="false"
            type="SINGLE">
      </achievement>
      <achievement
            description="Vier Tage am Stück mindestens drei Bier gezapft."
            imagePath="images/achievements/bierbachelor.png"
            name="Bierbachelor"
            processor="de.beeromat.internal.core.achievement.local.degree.Bierbachelor"
            public="false"
            type="SINGLE">
      </achievement>
      <achievement
            description="Vier Tage am Stück mindestens fünf Bier gezapft."
            imagePath="images/achievements/bierdiplomand.png"
            name="Bierdiplomand"
            processor="de.beeromat.internal.core.achievement.local.degree.Bierdiplomand"
            public="false"
            type="SINGLE">
      </achievement>
      <achievement
            description="Einen Tag lang nichts gezapft."
            imagePath="images/achievements/abstinenzler.png"
            name="Abstinenzler"
            processor="de.beeromat.internal.core.achievement.timed.Abstinenzler"
            public="false"
            type="SINGLE">
      </achievement>
      <achievement
            description="Letztes Bier an einem Abend gezapft."
            imagePath="images/achievements/derletztekunde.png"
            name="Der letzte Kunde"
            processor="de.beeromat.internal.core.achievement.timed.DerLetzteKunde"
            public="false"
            type="SINGLE">
      </achievement>
      <achievement
            description="Ein Liter am Stück gezapft."
            imagePath="images/achievements/nimmersatt.png"
            name="Nimmersatt"
            processor="de.beeromat.internal.core.achievement.total.unique.Nimmersatt"
            public="false"
            type="SINGLE">
      </achievement>
      <achievement
            description="Zwei Liter am Stück gezapft."
            imagePath="images/achievements/homofaber.png"
            name="Homo Faber"
            processor="de.beeromat.internal.core.achievement.total.unique.HomoFaber"
            public="true"
            type="SINGLE">
      </achievement>
      <achievement
            description="Erstes Bier vor Mittag gezapft."
            imagePath="images/achievements/derfruehevogeltrinktbier.png"
            name="Der frühe Vogel trinkt Bier"
            processor="de.beeromat.internal.core.achievement.total.DerFrueheVogelTrinktBier"
            public="false"
            type="SINGLE">
      </achievement>
      <achievement
            description="Erster Zapfvorgang aus einem neuen Fass getätigt."
            imagePath="images/achievements/firstblood.png"
            name="First Blood"
            processor="de.beeromat.internal.core.achievement.total.FirstBlood"
            public="false"
            type="SINGLE">
      </achievement>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.beeromat.internal.core.app.BeeromatApplication"
            name="Zapfmaster 2000">
         <property
               name="appName"
               value="Zapfmaster 2000">
         </property>
      </product>
   </extension>

</plugin>
